<template name="formaDePago">
  <form id="forma-de-pago" class="mb-3">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="pago">Forma de pago</label>
          <select class="form-control select2" id="pago" name="pago" style="width: 100%" required>
            <option></option>
            <option value="50% y 50%" {{isSelected project.pago '50% y 50%'}}>50% y 50%</option>
            <option value="50%, 35% y 15%" {{isSelected project.pago '50%, 35% y 15%'}}>50%, 35% y 15%</option>
            <option value="100% ecoCredito" {{isSelected project.pago '100% ecoCredito'}}>100% ecoCredito</option>
          </select>
        </div>
      </div>
    </div>

    <div id="amortization-fields" style="display: none">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="tasa-interes">Tasa de interes estimada %</label>
            <input
                type="number"
                class="form-control"
                id="tasa-interes"
                name="tasa"
                step=".01"
                placeholder="%"
                value="{{data.tasa}}"
                required
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="dias">Dias devengados</label>
            <input
                type="number"
                class="form-control"
                id="dias"
                name="dias"
                value="{{data.dias}}"
                required
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="plazo">Plazo</label>
            <input
                type="number"
                class="form-control"
                id="plazo"
                name="plazo"
                min="1"
                max="120"
                value="{{data.plazo}}"
                required
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="fecha">Fecha inicio</label>
            <input
                type="number"
                class="form-control"
                id="fecha"
                name="fecha"
                required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="aportacion">Aportación contado</label>
            <input
                type="number"
                class="form-control"
                id="aportacion"
                step=".01"
                name="aportacion"
                value="{{data.aportacion}}"
                required
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="fondo">Fondo %</label>
            <input
                type="number"
                class="form-control"
                id="fondo"
                name="fondo"
                step=".01"
                placeholder="%"
                value="{{data.fondo}}"
                required
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="inflacion">Inflación %</label>
            <input
                type="number"
                class="form-control"
                id="inflacion"
                name="inflacion"
                step=".01"
                placeholder="%"
                value="{{data.inflacion}}"
                required
            />
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</template>
