<template name="adminReports">
  <div class="item">
    <div class="row">
      <div class="col">
        <h1>Reportes <span>Zona</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          TEST
        </div>
      </div>
      <div class="col">
        <div class="jumbotron">
          TEST
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1><span>Zonas</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="jumbotron">
          TEST
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="jumbotron">
          TEST
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="jumbotron">
          TEST
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="jumbotron">
          TEST
        </div>
      </div>
    </div>

  </div>
</template>
