<template name="adminEnroll">
  {{#animate type="zoomIn"}}
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <img src="/img/logo.png" class="img-fluid">
              <h5 class="text-center">Registra tu contraseña</h5>
              <form class="form-signin" id="enroll">

                <div class="form-group">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" id="password-confirm" name="password_confirm"  placeholder="Repite tu contraseña">
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Guardar Contraseña</button>
                <div class="legal mt-4">
                  <small>Alles Solar ® 2018</small>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/animate}}
</template>