<template name="login">
  <div class="login-loading">
    <div class="loading">
      <div class="fa-2x">
        <i class="fas fa-circle-notch fa-spin"></i>
      </div>
      <div id="loading-info"></div>
    </div>
  </div>

  {{#animate type="zoomIn"}}
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <img src="/img/logo.png" class="img-fluid">
              <form class="form-signin" id="login-form">
                <hr class="my-4">

                <div class="form-group">
                  <input type="text" class="form-control" id="username" placeholder="Nombre de usuario o Email">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesión</button>
                <div class="legal mt-4">
                  <small>Alles Solar ® 2018</small>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/animate}}
</template>
