<template name="adminUser">
  <div class="row">
    <div class="col">
      <h1>Informacion del <span>Usuario</span></h1>
      <div class="jumbotron">
        <button class="edit-btn" data-id="{{user._id}}"><i class="fas fa-pencil-alt" data-id="{{user._id}}"></i></button>
        <div class="row">
          <div class="col">
            <b>Nombre:</b> {{user.profile.nombre}} {{user.profile.apellidos}}<br/>
            <b>Rol:</b> {{user.profile.rol}}<br/>
            <b>Email:</b> {{user.emails.[0].address}}<br/>
            <b>Telefono:</b> {{user.profile.telefono}}<br/>
            <b>Celular:</b> {{user.profile.mobile}}
          </div>
          <div class="col">
            <b>Calle:</b> {{user.profile.direccion.calle}}<br/>
            <b>Numero:</b> {{user.profile.direccion.numero}}<br/>
            <b>Ciudad:</b> {{user.profile.direccion.ciudad}}<br/>
            <b>Estado:</b> {{user.profile.direccion.estado}}<br/>
            <b>Codigo postal:</b> {{user.profile.direccion.codigo_postal}}<br/>
            <b>Pais:</b> {{user.profile.direccion.pais}}<br/>
          </div>
        </div>
      </div>
    </Div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<h1>Realcion <span> Projectos</span></h1>-->
      <!--<div class="jumbotron">-->
        <!--Espacio para mostrar futura data relacionada al usuario-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col">-->
      <!--<h1>Otra <span> Relacion</span></h1>-->
      <!--<div class="jumbotron">-->
        <!--Espacio para mostrar futura data relacionada al usuario-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</template>
