<template name="adminFooter">

  <!-- //TODO 10. Customize Admin Footer -->

  <!-- Footer -->
  <footer>
    <!-- Copyright -->
    <div class="text-center">© <span>2018</span>
      <a href="https://rysonstudios.com"> RYSON<span>STUDIOS</span></a> <small>{{version}}</small>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</template>
