footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 12px;
  padding: 5px 0;
  background-color: #343a40;
  a{
    color: whitesmoke;
    &:hover{
      color:grey;
    }
  }
  span{
    font-weight: 100;
  }
  small{
    color: #777777;
  }
}