.admin-body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    span {
      font-weight: 100;
    }
  }

  h1 {
    color: $color-2-a
  }

  main {
    display: flex;
    height: 100%;

    .main-container {
      position: relative;
      width: 100%;

      .wrap {
        display: flex;
        height: 100%;
        padding-top: 50px;
        // Custom Scrollbar
        @include scroll(rgba(255, 255, 255, 0.5), $color-2-a, $color-1-a);

        .list {
          position: relative;
          width: 300px;
          height: 100%;
          -webkit-box-shadow: -5px 0px 23px 0px rgba(0, 0, 0, 0.51);
          -moz-box-shadow: -5px 0px 23px 0px rgba(0, 0, 0, 0.51);
          box-shadow: -5px 0px 23px 0px rgba(0, 0, 0, 0.51);
          z-index: 101;
          @include custom-transition(0.4s);

          .btn-hide-list {
            position: absolute;
            right: 0;
            padding-right: 9px;
            border: none;
            background: $color-1-a;
            border-bottom-left-radius: 5px;
            font-size: 8px;
            cursor: pointer;
            color: white;
          }

          ul {
            width: 100%;
            height: 100%;
            padding: 0 0 50px 0;
            margin: 0;
            list-style: none;
            background-color: #f4f1f1;
            // Custom Scrollbar
            @include scroll(rgba(255, 255, 255, 0.5), $color-2-a, $color-1-a);
            @include custom-transition(0.2s);

            li {
              a {
                display: inline-block;
                width: 100%;
                border-bottom: 1px solid #d7d7d7;
                padding: 5px;
                font-size: 12px;
                color: grey;
                text-decoration: none;
                @include custom-transition(0.3s);

                &:hover {
                  background-color: $color-2-a;
                  color: white;
                  border-bottom: 1px solid white;
                  @include custom-transition(0.3s);
                }
              }
            }

            .active {
              background-color: $color-3-a;

              a {
                color: white
              }

              @include custom-transition(0.2s);
            }

            .list-loader {
              width: 100%;
              position: absolute;
              bottom: 0;
              left: -300px;
              color: white;
              padding: 5px 0 0 0;
              background-color: $color-2-a;
              @include custom-transition(0.2s);

              small {
                position: relative;
                font-size: 8px;
                text-transform: uppercase;
                top: -10px;
              }
            }

            .loader-active {
              left: 0;
              @include custom-transition(0.2s);
            }
          }
        }

        .hide-list {
          width: 0px;
          @include custom-transition(0.4s);
        }

        .item {
          width: 100%;
          height: 100%;
          background-color: #E4E5E6;
          padding: 20px;
          // Custom Scrollbar
          @include scroll(rgba(255, 255, 255, 0.5), $color-2-a, $color-1-a);
          .panel, .inversor{ display: none }
        }

        .btn-show-list {
          position: absolute;
          width: 50px;
          height: 30px;
          top: 55px;
          border: none;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          background-color: $color-1-a;
          color: white;
          cursor: pointer;
          z-index: 100;
          @include custom-transition(0.4s);
        }
      }

      .jumbotron {
        position: relative;
        background-color: rgb(245, 245, 245);
        padding: 10px;
        color: $color-5-a;

        .edit-btn {
          position: absolute;
          z-index: 10000;
          right: -5px;
          top: -5px;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          border: none;
          color: white;
          background-color: $color-1-a;
          cursor: pointer;

          &:hover {
            background-color: $color-2-a;
          }
        }

        .inline-field-btn {
          margin-top: 32px;
        }
      }
    }
  }

  .tooltip-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: #adadad;

    i {
      position: relative;
      top: 2px;
    }
  }

  .pac-container {
    z-index: 1051 !important;
  }

  #cotizacion {
    .green-bar{
      background-color: #77C043;
      color: white;
      padding: 10px;
      text-transform: uppercase;
    }
    background-color: white;

    header {
      background-color: $color-3-a;
      padding: 40px;

      h1 {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        color: $color-2-a
      }

      h2 {
        margin: 0 0 10px 0;
        color: white;
        font-size: 20px;
        font-weight: 300;
      }
    }

    #content {
      padding: 20px;
    }

    h1 {
      color: $color-3-a;
      letter-spacing: 0;
      text-transform: initial;
      font-weight: 500;
    }

    h2 {
      color: $color-2-a;
      text-transform: initial;
      font-weight: 300;
      font-size: 27px;
      letter-spacing: 0;
    }

    h3 {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      color: $color-3-a;
    }

    .card-1 {
      color: $color-3-a;
      background-color: #eaeaea;

      .title {
        font-size: 14px;
        padding: 10px;
        background-color: #f2f4f5;
        text-transform: uppercase;
        font-weight: 500;

        span {
          font-weight: 300;
        }
      }

      .valor {
        font-size: 28px;
        padding: 10px;
      }
    }

    .card-2 {
      .title {
        font-size: 14px;
        padding: 10px;
        background-color: #cf6527;
        text-transform: uppercase;
        font-weight: 300;
        color: white;
      }

      .valor {
        font-size: 28px;
        padding: 10px;
        background-color: #fbe3a4;
        color: $color-3-a;
      }
    }

    .card-3 {
      .title {
        font-size: 14px;
        padding: 10px;
        background-color: $color-3-a;
        text-transform: uppercase;
        font-weight: 300;
        color: white;
      }

      .valor {
        font-size: 28px;
        padding: 10px;
        background-color: $color-2-a;
        color: white
      }
    }

    .card-4 {
      .title {
        font-size: 14px;
        padding: 10px;
        background-color: #88bc57;
        text-transform: uppercase;
        font-weight: 300;
        color: white;
      }

      .valor {
        font-size: 28px;
        padding: 10px;
        background-color: #e2f2b7;
        color: $color-3-a
      }
    }

    .totals {
      font-size: 24px;
      color: $color-3-a;
      text-transform: uppercase;
      .title {
        font-weight: 300;
      }
      .cantidad{
        font-weight: 700;
      }
    }

    .notas{
      h1{
        font-size: 16px;
      }
      font-size: 13px;
    }


    .contrato, .email, .pdf{
      background-color: #f2f4f5;
      padding: 10px;
      min-height: 130px;
      h1{
        color: $color-3-a;
        font-size: 20px;
        text-transform: uppercase;
      }
      button{
        cursor: pointer;
        width: 100%;
        border: none;
        color: white;
        background-color: #cf6527;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .contrato{
      button{
        cursor: pointer;
        width: 100%;
        border: none;
        color: white;
        background-color: #cf6527;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .email{
      button{
        cursor: pointer;
        width: 100%;
        border: none;
        color: white;
        background-color: $color-2-a;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .pdf{
      button{
        cursor: pointer;
        width: 100%;
        border: none;
        color: white;
        background-color: #77C043;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
  .grafica-texto{
    .title{
      font-size: 20px;
    }
  }
  .barra{
    position: relative;
    background-color: #f0f0f0;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    .cantidad{
      position: absolute;
      font-size: 34px;
      color: #23659A;
      right: 15px;
    }
    .inner-bar{
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
  .search-icon{
    position: absolute;
    z-index: 1;
    color: #8E918F;
    top: 6px;
    left: 4px;
  }
  #search-result{
    position: absolute;
    margin-top: 30px;
    width: 100%;
    font-size: 12px;
    .result{
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid white;
      padding: 5px;
      background-color: #979797;
      color: white;
      text-decoration: none;
    }
  }
  #search{
    position: absolute;
    width: 100%;
    height: 30px;
    padding-left: 24px;
    background-color: #ffffff;
    font-size: 12px;
  }
}
