<template name="adminBody">

  <main>
    {{> Template.dynamic template=sidebar}}
    <div class="main-container">
      {{> Template.dynamic template=header}}
      <div class="wrap">
        {{> Template.dynamic template=main}}
      </div>
    </div>
  </main>

</template>
