.admin-header{
  width: 100%;
  height: 50px;
  position: absolute;
  padding-left: 10px;
  background-color: $color-2-a;
  border-bottom: 1px solid #cfcfcf;
  z-index: 99;
  .btn-user{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    &:hover{
      color: white;
    }
  }
}
