<template name="adminHeader">
  <header class="admin-header">
    <div class="btn-group float-right">
      <button type="button" class="btn-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right text-right">
        <button class="dropdown-item" type="button" id="logout">Cerrar Sesión</button>
      </div>
    </div>
  </header>
</template>
