<template name="web_footer">
  <!-- Footer -->
  <footer class="web-footer">
    <!-- Copyright -->
    <div class="text-center">© <span>2018</span>
      <a href="https://rysonstudios.com"> RYSON<span>STUDIOS</span></a> <small>{{version}}</small>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</template>
