<template name="adminAddProject">
  <div class="item">
    <h1>Agregar <span>Proyecto</span></h1>
    <form id="add-project">
      <div class="jumbotron">
        <h4>Información <span> Basica</span></h4>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="nombre-proyecto">Nombre del proyecto</label>
              <input
                type="text"
                class="form-control"
                id="nombre-proyecto"
                name="nombre_proyecto"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="cliente">Cliente</label>
              <select
                class="form-control cliente"
                id="cliente"
                name="cliente"
                style="width: 100%"
                required
              >
                <option></option>
                {{#each cliente in clientes}}
                <option value="{{cliente._id}}"
                  >{{cliente.profile.nombre}}
                  {{cliente.profile.apellidos}}</option
                >
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-primary btn-block add-client btn-labeled"
            >
              Agregar nuevo cliente
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="fuente">Fuente de contacto</label>
              <select
                class="form-control select2"
                id="fuente"
                name="fuente"
                style="width: 100%"
                required
              >
                <option></option>
                <option value="Recomendacion">Recomendacion</option>
                <option value="Pagina Web">Pagina Web</option>
                <option value="Visita en Sitio">Visita en Sitio</option>
                <option value="Llamada">Llamada</option>
                <option value="Email">Email</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="estatus">Estatus</label>
              <select
                class="form-control select2"
                id="estatus"
                name="estatus"
                style="width: 100%"
                required
              >
                <option></option>
                <option value="Primer Contacto">Primer Contacto</option>
                <option value="Solicitud de Recibo">Solicitud de Recibo</option>
                <option value="Contactar en un futuro"
                  >Contactar en un futuro</option
                >
                <option value="No Responde">No Responde</option>
                <option value="No Aplica">No Aplica</option>
                <option value="No Interesado">No Interesado</option>
                <option value="Contrato con otra empresa"
                  >Contrato con otra empresa</option
                >
                <option value="Cotizacion Entregada"
                  >Cotización Entregada</option
                >
                <option value="Proyecto Aceptado">Proyecto Aceptado</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="cambio">Tipo de cambio</label>
              <input
                type="text"
                class="form-control"
                id="cambio"
                name="cambio"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="notas">Notas</label>
              <textarea
                class="form-control"
                id="notas"
                name="notas"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="empresa" />
              <label class="form-check-label" for="empresa">
                Empresa
              </label>
            </div>
          </div>
        </div>
        <div class="row empresa-info">
          <div class="col-md-6">
            <div class="form-group">
              <label for="cargo">Cargo del contacto</label>
              <input type="text" class="form-control" id="cargo" name="cargo" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="rfc">RFC</label>
              <input type="text" class="form-control" id="rfc" name="rfc" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="razon">Razon social</label>
              <input
                type="text"
                class="form-control"
                id="razon"
                name="razon_social"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="actividad">Actividad comercial</label>
              <input
                type="text"
                class="form-control"
                id="actividad"
                name="actividad_comercial"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <h4>Consumo</h4>

        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
              <label for="frecuencia">Frecuencia</label>
              <select
                class="form-control select2"
                id="frecuencia"
                name="frecuencia"
                style="width: 100%"
                required
              >
                <option></option>
                <option value="Mensual">Mensual</option>
                <option value="Bimestral">Bimestral</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
              <label for="voltaje">Voltaje</label>
              <select
                class="form-control"
                id="voltaje"
                name="voltaje"
                style="width: 100%"
                required
              >
                <option></option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
              <label for="tarifa-cfe">Tarifa CFE</label>
              <select
                class="form-control"
                id="tarifa-cfe"
                name="tarifa_cfe"
                style="width: 100%"
                required
                disabled
              >
                <option></option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
            <div class="form-group">
              <label for="numero-hilos">Numero de hilos</label>
              <select
                class="form-control select2"
                id="numero-hilos"
                name="numero_hilos"
                style="width: 100%"
                required
              >
                <option></option>
                <option value="1 Hilo">1 Hilo</option>
                <option value="2 Hilos">2 Hilos</option>
                <option value="3 Hilos">3 Hilos</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="Zona">Zona</label>
              <select
                class="form-control select2"
                id="zona"
                name="zona"
                style="width: 100%"
                required
              >
                <option></option>
                {{#each zona in zonas}}
                <option value="{{zona._id}}">{{zona.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
            <div class="form-group">
              <label for="generacion">% Generación</label>
              <input
                type="text"
                class="form-control"
                id="generacion"
                name="generacion"
                required
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
            <div class="form-group">
              <label for="numero-servicio">Numero de servicio</label>
              <input
                type="text"
                class="form-control"
                id="numero-servicio"
                maxlength="12"
                name="numero_servicio"
                required
              />
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
            <div class="form-group">
              <label for="watt">Costo watt</label>
              <input
                type="text"
                class="form-control"
                id="watt"
                name="watt"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table
                class="table table-striped table-bordered table-hover table-sm consumos-table"
              >
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Periodo</th>
                    <th scope="col">KWh</th>
                    <th scope="col">Pago</th>
                  </tr>
                </thead>
                <tbody id="consumos"></tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td class="text-right">TOTAL:</td>
                    <th class="align-middle"><span id="total">$0</span></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary">
            Guardar Proyecto
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
