<template name="adminEditProject">
  <div class="item">
    <h1>Editar <span>Proyecto</span></h1>

    {{#if Template.subscriptionsReady}}

      <div class="jumbotron">
        <h4>Informacion basica</h4>
        <form id="update-info">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="nombre-proyecto">Nombre del proyecto</label>
                <input type="text" class="form-control" id="nombre-proyecto" name="nombre_proyecto"
                       value="{{project.nombre}}" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="fuente">Cliente</label>
                <select class="form-control cliente" id="cliente" name="cliente" style="width: 100%" required>
                  <option></option>
                  {{#each cliente in clientes}}
                    <option value="{{cliente._id}}">{{cliente.profile.nombre}} {{cliente.profile.apellidos}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="fuente">Fuente de contacto</label>
                <select class="form-control select2" id="fuente" name="fuente" style="width: 100%" required>
                  <option></option>
                  <option value="Recomendacion" {{isSelected project.fuente_contacto 'Recomendacion'}}>Recomendacion</option>
                  <option value="Pagina Web" {{isSelected project.fuente_contacto 'Pagina Web'}}>Pagina Web</option>
                  <option value="Visita en Sitio" {{isSelected project.fuente_contacto 'Visita en Sitio'}}>Visita en
                    Sitio
                  </option>
                  <option value="Llamada" {{isSelected project.fuente_contacto 'Llamada'}}>Llamada</option>
                  <option value="Email" {{isSelected project.fuente_contacto 'Email'}}>Email</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="estatus">Estatus</label>
                <select class="form-control select2" id="estatus" name="estatus" style="width: 100%" required>
                  <option></option>
                  <option value="Primer Contacto" {{isSelected project.estatus 'Primer Contacto'}}>Primer Contacto
                  </option>
                  <option value="Solicitud de Recibo" {{isSelected project.estatus 'Solicitud de Recibo'}}>Solicitud de
                    Recibo
                  </option>
                  <option value="Contactar en un futuro" {{isSelected project.estatus 'Contactar en un futuro'}}>
                    Contactar
                    en un futuro
                  </option>
                  <option value="No Responde" {{isSelected project.estatus 'No Responde'}}>No Responde</option>
                  <option value="No Aplica" {{isSelected project.estatus 'No Aplica'}}>No Aplica</option>
                  <option value="No Interesado" {{isSelected project.estatus 'No Interesado'}}>No Interesado</option>
                  <option value="Contrato con otra empresa" {{isSelected project.estatus 'Contrato con otra empresa'}}>
                    Contrato con otra empresa
                  </option>
                  <option value="Cotizacion Entregada" {{isSelected project.estatus 'Cotizacion Entregada'}}>Cotización
                    Entregada
                  </option>
                  <option value="Proyecto Aceptado" {{isSelected project.estatus 'Proyecto Aceptado'}}>Proyecto Aceptado
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="notas">Notas</label>
                <textarea class="form-control" id="notas" name="notas" rows="3">{{project.notas}}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="empresa">
                <label class="form-check-label" for="empresa">
                  Empresa
                </label>
              </div>
            </div>
          </div>
          <div class="row empresa-info">
            <div class="col-md-6">
              <div class="form-group">
                <label for="cargo">Cargo del contacto</label>
                <input type="text" class="form-control" id="cargo" name="cargo" value="{{project.empresa.cargo}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="rfc">RFC</label>
                <input type="text" class="form-control" id="rfc" name="rfc" value="{{project.empresa.rfc}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="razon">Razon social</label>
                <input type="text" class="form-control" id="razon" name="razon_social"
                       value="{{project.empresa.razon_social}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="actividad">Actividad comercial</label>
                <input type="text" class="form-control" id="actividad" name="actividad_comercial"
                       value="{{project.empresa.actividad_comercial}}">
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
      </div>

      <div class="jumbotron">
        <h4>Forma de pago</h4>
        {{> formaDePago}}
        {{> amortization}}
      </div>

      <div class="jumbotron">
        <h4>Consumo</h4>
        <form id="update-consumo">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="tarifa-cfe">Nueva tarifa CFE</label>
                <select class="form-control" id="tarifa-cfe" name="tarifa_cfe" style="width: 100%" required>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="voltaje">Voltaje</label>
                <select class="form-control" id="voltaje" name="voltaje" style="width: 100%" required>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="generacion">% Generación</label>
                <input  type="text" class="form-control" id="generacion" name="generacion" value="{{project.generacion}}" required>
              </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="numero-hilos">Numero de hilos</label>
                <select class="form-control select2" id="numero-hilos" name="numero_hilos" style="width: 100%" required>
                  <option></option>
                  <option value="1 Hilo" {{isSelected project.numero_hilos '1 Hilo'}}>1 Hilo</option>
                  <option value="2 Hilos" {{isSelected project.numero_hilos '2 Hilos'}}>2 Hilos</option>
                  <option value="3 Hilos" {{isSelected project.numero_hilos '3 Hilos'}}>3 Hilos</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="Zona">Zona</label>
                <select class="form-control select2" id="zona" name="zona" style="width: 100%" required>
                  <option></option>
                  {{#each zona in zonas}}
                    <option value="{{zona._id}}" {{isSelected project.zona zona._id}}>{{zona.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="frecuencia">Frecuencia</label>
                <select class="form-control select2" id="frecuencia" name="frecuencia" style="width: 100%" required>
                  <option></option>
                  <option value="Mensual" {{isSelected project.frecuencia 'Mensual'}}>Mensual</option>
                  <option value="Bimestral" {{isSelected project.frecuencia 'Bimestral'}}>Bimestral</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="numero-servicio">Numero de servicio</label>
                <input type="text" class="form-control" id="numero-servicio" name="numero_servicio"
                       value="{{project.numero_servicio}}" maxlength="12" required>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="watt">Costo watt</label>
                <input type="text" class="form-control" id="watt" name="watt"
                       value="{{project.watt}}" maxlength="4" required>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="cambio">Tipo de cambio</label>
                <input type="text" class="form-control" id="cambio" name="cambio"
                       value="{{project.cambio}}" maxlength="4" required>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Periodo</th>
                    <th scope="col">KWh</th>
                    <th scope="col">Pago</th>
                  </tr>
                  </thead>
                  <tbody id="consumos">
                  {{#each consumo in project.consumos}}
                    <tr class="consumo">
                      <td class="align-middle">
                        <input type="text" class="form-control" id="period-{{@index}}" name="period_{{@index}}"
                               value="{{consumo.period}}" readonly>
                      </td>
                      <td class="align-middle">
                        <input type="number" class="form-control kwh" id="kwh-{{@index}}" value="{{consumo.kwh}}">
                      </td>
                      <th class="align-middle">
                        <span id="total-{{@index}}">$0</span>
                      </th>
                    </tr>
                  {{/each}}
                  </tbody>
                  <tfoot>
                  <tr>
                    <td style="visibility:hidden"></td>
                    <td class="text-right">TOTAL:</td>
                    <th class="align-middle"><span id="total">$0</span></th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="jumbotron">
        <h4>Paneles e inversores</h4>
        <!--paneles-->
        <div class="row">
          <div class="col-12">
            <label for="panel">Paneles</label>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input class="form-control" value="{{numeroDePaneles}}" readonly>
            </div>
          </div>
          <div class="col-10">
            <div class="form-group">
              <select class="form-control select2" id="panel" name="panel" style="width: 100%" required>
                <option></option>
                {{#each panel in paneles}}
                  <option value="{{panel._id}}|{{panel.nombre}}|{{panel.watts}}" {{isSelected  panel._id project.panel.id}}>
                    {{panel.watts}}W - {{panel.nombre}} - {{panel.modelo}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <!--inversores-->
        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Inversor</th>
              </tr>
              </thead>
              <tbody>
              {{#each inversor in project.inversores}}
                <tr>
                  <td>{{inversor.cantidad}}</td>
                  <td>{{inversor.nombre}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="jumbotron" id="cotizacion">
        <div class="green-bar">Revisa tu cotización</div>
        <header>
          <div class="row">
            <div class="col">
              <img src="/img/logo-2.png" width="200">
            </div>
            <div class="col">
              <h1>Fecha</h1>
              <h2>{{formatDate project.createdAt}}</h2>
              <h1>Folio</h1>
              <h2>{{project.folio}}</h2>
              <h1>Forma de pago</h1>
              <h2>{{project.pago}}</h2>
              <h1>Tipo de cambio</h1>
              <h2>{{project.cambio}}</h2>
            </div>
          </div>
        </header>
        <div id="content">
          <h1>Gracias por cotizar<br> con nosotros,<br> {{project.client.nombre}}</h1>
          <h2>Empecemos con tu proyecto<br> lo antes posible.</h2>
          <hr>
          <ul>
            <li>Nombre: <strong>{{project.client.nombre}} {{project.client.apellidos}}</strong></li>
            <li>Zona: <strong>{{project.zona}}</strong></li>
            <li>No. Servicio / RPU: <strong>{{project.numero_servicio}}</strong></li>
            <li>Tarifa: <strong>{{project.tarifa_cfe.nombre}}</strong></li>
          </ul>
          <hr>
          <div class="row">
            <div class="col mb-3">
              <div class="card-1">
                <div class="title">
                  Generación energía mensual<br>
                  <span>KWH Promedio</span>
                </div>
                <div class="valor">
                  {{generacionEnergiaMensual}} KWH
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card-1">
                <div class="title">
                  Consumo actual mensual<br>
                  <span>KWH Promedio</span>
                </div>
                <div class="valor">
                  <!--es la suma de los consumos capturados por el usuario-->
                  {{consumoActualMensual}} KWH
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card-1">
                <div class="title">
                  % de ahorro<br>
                  <span>por generación fotovoltaica</span>
                </div>
                <div class="valor">
                  <!--se obtiene de dividir la generacion de energia mensual entre el consumo actual mensual x 100-->
                  {{porcentajeAhorro}}%
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-12 mb-3">
                  <div class="card-2">
                    <div class="title">
                      Pago actual anual cfe sin paneles
                    </div>
                    <div class="valor" style="padding: 20px 10px">
                      {{pagoActualCFE}}
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="card-3">
                    <div class="title">
                      Pago real a cfe con paneles
                    </div>
                    <div class="valor" style="padding: 20px 10px">
                      {{pagoRealCFE}}
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="card-4">
                    <div class="title">
                      Ahorro anual
                    </div>
                    <div class="valor" style="padding: 20px 10px">
                      {{ahorroAnual}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              {{> graficaAhorroAnual}}
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-4">
              <p class="grafica-texto"><span class="title" style="color: #23659A">ANTES</span> <br> pago actual anual CFE<br>
                <span class="title" style="color: #C46215">SIN PANELES</span></p>
            </div>
            <div class="col-8">
              <div class="barra">
                <div class="cantidad">{{pagoActualCFE}}</div>
                <div class="inner-bar" style="background-color: #C46215; width: {{porcentajePagoActualCFE}}%"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="grafica-texto"><span class="title" style="color: #23659A">DESPUÉS</span> <br> pago actual anual CFE <br>
                <span class="title" style="color: #00ACEF">CON PANELES</span></p>
            </div>
            <div class="col-8">
              <div class="barra">
                <div class="cantidad">{{pagoRealCFE}}</div>
                <div class="inner-bar" style="background-color: #00ACEF; width: {{porcentajePagoRealCFE}}%"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="grafica-texto"><span class="title" style="color:#88bc57">AHORRO ANUAL</span></p>
            </div>
            <div class="col-8">
              <div class="barra">
                <div class="cantidad">{{ahorroAnual}}</div>
                <div class="inner-bar" style="background-color: #88bc57; width: {{porcentajeAhorroAnual}}%"></div>
              </div>
            </div>
          </div>


          {{> graficaConsumoKWH}}

          <hr>

          <div class="row mb-3">
            <div class="col">
              <h3>Voltaje</h3>
              <h1>{{project.voltaje}}v</h1>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <h3>Sistema fotovoltaico</h3>
              <h1>{{sistemaFotovoltaico}} KWP instalados</h1>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <h3>Superficie</h3>
              <h1>{{superficie}} m2</h1>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <!--Consumo actual mensual 669 x 12 = 8028-->
              <!--horas por mes 2239.29 x 73 / 163,468.17 = 0.04911048-->
              <!--270 / 1000 = 0.27-->
              <!--0.04911048 / 0.27 = 0.18189067-->
              <!--0.18189067 x 100 = 18.189067-->
              <!--18.189067 se redondea 19-->
              <h3>No. de paneles</h3>
              <h1>{{numeroDePaneles}}</h1>
            </div>
            <div class="col">
              <h3>Tipo</h3>
              <h1>{{potencia}} WP, {{project.panel.nombre}}</h1>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <h3>Inversor/es</h3>
              <h1>
                {{#each inversor in project.inversores}}
                  {{inversor.cantidad}} - {{inversor.nombre}}<br>
                {{/each}}
              </h1>
            </div>
          </div>
          <hr>
          <div class="row totals">
            <div class="col title">
              Valor equipo fotovoltaico
            </div>
            <div class="col cantidad text-right">
              {{subtotal}}
            </div>
          </div>
          <div class="row totals">
            <div class="col title">
              IVA
            </div>
            <div class="col cantidad text-right">
              {{iva}}
            </div>
          </div>
          <div class="row totals">
            <div class="col title">
              Total pesos mexicanos
            </div>
            <div class="col cantidad text-right" style="font-size: 34px">
              {{total}}
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <small>Este precio considera todos los costos relacionados con el proyecto: <strong>Panel, estructura,
                cableado,
                inversor, trámites con CFE, medidor bidireccional, instalación, mano de obra, puesta en
                marcha.</strong></small>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col notas">
              <h1>NOTAS:</h1>
              <p>* El ahorro estimado en $ es referencial para comparativo, <strong>la garantia en generación es en
                base a generacion energía mensual KWH promedio.</strong></p>
              <p>* La garantia ofrecida por empresa es en base a <strong>generación de energía mensual promedio ( kWh
                ).</strong></p>
              <p>* En tarifas <strong>GDMTO y GDMTH</strong> no se genera el rubro de <strong>Demanda Máxima (
                Distribución y Capacidad ).</strong></p>
              <p>
                * En tarifas GDMTO y GDMTH actualmente puede impactar la capacidad y distribución por la generación de energía (KWH).
              </p>
              <p>
                Alles Solar apoya la interconexión, sin embargo si CFE en oficio resolutivo o requiriese algún
                requisito especifico es responsabilidad del cliente.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="contrato">
              <h1>Contrato</h1>
              {{#if userHasAccess}}
                <button class="generar-contrato">Generar contrato</button>
                <button class="editar-contrato">Editar contrato</button>
              {{/if}}
              <button class="ver-contrato">Ver contrato</button>
            </div>
          </div>
          <div class="col-4">
            <div class="email">
              <h1>Enviar por email</h1>
              <button class="enviar-email">Enviar email</button>
            </div>
          </div>
          <div class="col-4">
            <div class="pdf">
              <h1>Generar pdf</h1>
              <button class="generar-pdf">Generar PDF</button>
            </div>
          </div>
        </div>

      </div>

    {{/if}}
  </div>
</template>
