<template name="adminProjects">
  <button class="btn-show-list hide-btn-show-list"><i class="fas fa-list-ul"></i></button>
  <div class="list">
    <button class="btn-hide-list"><i class="fas fa-times"></i></button>

    <i class="fas fa-search search-icon"></i>
    <input type="text" id="search" autocomplete="off">

    <div id="search-result">
      {{#each result in searchResult}}
        <a href="/admin/projects/list/{{result._id}}" class="result">
          <b>Folio:</b> {{result.folio}}<br>
          <b>Nombre:</b> {{result.nombre}}</a>
      {{/each}}
    </div>

    <ul style="padding-top: 30px">
      {{#each project in projects}}
        <li class="{{activeProject project._id}}">
          <a href="/admin/projects/list/{{project._id}}">
            <b>Folio:</b> {{project.folio}}<br>
            <b>Nombre:</b> {{project.nombre}}
          </a>
        </li>
      {{/each}}
      <li class="list-loader text-center"></li>
    </ul>
  </div>
  <div class="item">
    {{> adminProject }}
  </div>
</template>
