<template name="adminProject">
{{#if Template.subscriptionsReady}}
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <button type="button" class="edit-btn" value="{{project._id}}"><i class="fas fa-pencil-alt"></i></button>
        <div class="row mb-3 mt-3">
          <div class="col-md-12">
            <h5>{{project.nombre}}</h5>
          </div>
          <div class="col">
            <b>Folio:</b> {{project.folio}}<br>
            <b>Nombre:</b> {{project.client.nombre}} {{project.client.apellidos}}<br/>
            <b>Email:</b> {{project.client.email}}<br/>
            <b>Telefono:</b> {{project.client.telefono}}<br/>
            <b>Celular:</b> {{project.client.mobile}} <br/>
          </div>
          <div class="col">
            <b>Calle:</b> {{project.client.direccion.calle}}<br/>
            <b>Numero:</b> {{project.client.direccion.numero}}<br/>
            <b>Ciudad:</b> {{project.client.direccion.ciudad}}<br/>
            <b>Estado:</b> {{project.client.direccion.estado}}<br/>
            <b>Codigo postal:</b> {{project.client.direccion.codigo_postal}}<br/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {{#if project.empresa}}
              <h5>Empresa</h5>
              <b>Cargo:</b> {{project.empresa.cargo}}<br/>
              <b>RFC:</b> {{project.empresa.rfc}}<br/>
              <b>Razon Social:</b> {{project.empresa.razon_social}}<br/>
              <b>Actividad Comercial:</b> {{project.empresa.actividad_comercial}}
            {{/if}}
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <div class="col-md-12">
            <h5>Consumo</h5>
          </div>
          <div class="col">
            <b>Tarifa CFE:</b> {{project.tarifa_cfe.nombre}} <small>{{project.tarifa_cfe.valor}}</small><br/>
            <b>Numero de servicio:</b> {{project.numero_servicio}}<br/>
            <b>Numero de hilos:</b> {{project.numero_hilos}}<br/>
            <b>Frecuencia:</b> {{project.frecuencia}}<br/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Periodo</th>
                  <th scope="col">KWh</th>
                  <th scope="col">Pago</th>
                </tr>
                </thead>
                <tbody>
                {{#each consumo in project.consumos}}
                  <tr>
                    <td>{{consumo.period}}</td>
                    <td>{{consumo.kwh}}</td>
                    <td>${{getAmount consumo.kwh}}</td>
                  </tr>
                {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td style="visibility:hidden"></td>
                    <td class="text-right">TOTAL:</td>
                    <th class="align-middle"><span id="total">${{total}}</span></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <button type="button" class="btn btn-danger" id="borrar-projecto" value="{{project._id}}"><i class="far fa-trash-alt"></i> Borrar projecto</button>
          </div>
        </div>
      </div>
    </Div>
  </div>
{{/if}}
</template>
