<template name="adminEditZone">
  <div class="item">
    <h1>Editar <span>Zona</span></h1>
    <div class="jumbotron">
      <form id="edit-zone">
        <div class="col">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              placeholder="Nombre de la zone"
              value="{{zone.name}}"
              required
            />
          </div>
        </div>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col" class="text-center">Mes</th>
              <th scope="col" class="text-center">Dias</th>
              <th scope="col" class="text-center">Hrs/Dia</th>
              <th scope="col" class="text-center">Hrs/Mes</th>
            </tr>
          </thead>
          <tbody>
            <tr id="edit-ene">
              <td class="align-middle text-center">Enero</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  id="dias-ene"
                  name="dias_ene"
                  value="{{zone.meses.ene.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  id="hrs-ene"
                  name="hrs_ene"
                  value="{{zone.meses.ene.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-feb">
              <td class="align-middle text-center">Febrero</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_feb"
                  id="dias-feb"
                  value="{{zone.meses.feb.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_feb"
                  id="hrs-feb"
                  value="{{zone.meses.feb.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-mar">
              <td class="align-middle text-center">Marzo</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_mar"
                  id="dias-mar"
                  value="{{zone.meses.mar.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_mar"
                  id="hrs-mar"
                  value="{{zone.meses.mar.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-abr">
              <td class="align-middle text-center">Abril</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_abr"
                  id="dias-abr"
                  value="{{zone.meses.abr.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_abr"
                  id="hrs-abr"
                  value="{{zone.meses.abr.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-may">
              <td class="align-middle text-center">Mayo</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_may"
                  id="dias-may"
                  value="{{zone.meses.may.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_may"
                  id="hrs-may"
                  value="{{zone.meses.may.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-jun">
              <td class="align-middle text-center">Junio</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_jun"
                  id="dias-jun"
                  value="{{zone.meses.jun.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_jun"
                  id="hrs-jun"
                  value="{{zone.meses.jun.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>

            <tr id="edit-jul">
              <td class="align-middle text-center">Julio</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_jul"
                  id="dias-jul"
                  value="{{zone.meses.jul.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_jul"
                  id="hrs-jul"
                  value="{{zone.meses.jul.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-ago">
              <td class="align-middle text-center">Agosto</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_ago"
                  id="dias-ago"
                  value="{{zone.meses.ago.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_ago"
                  id="hrs-ago"
                  value="{{zone.meses.ago.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-sep">
              <td class="align-middle text-center">Septiembre</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_sep"
                  id="dias-sep"
                  value="{{zone.meses.sep.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_sep"
                  id="hrs-sep"
                  value="{{zone.meses.sep.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-oct">
              <td class="align-middle text-center">Octubre</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_oct"
                  id="dias-oct"
                  value="{{zone.meses.oct.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_oct"
                  id="hrs-oct"
                  value="{{zone.meses.oct.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-nov">
              <td class="align-middle text-center">Noviembre</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_nov"
                  id="dias-nov"
                  value="{{zone.meses.nov.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_nov"
                  id="hrs-nov"
                  value="{{zone.meses.nov.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
            <tr id="edit-dic">
              <td class="align-middle text-center">Diciembre</td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="dias_dic"
                  id="dias-dic"
                  value="{{zone.meses.dic.dias}}"
                  required
                />
              </td>
              <td class="align-middle">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control number"
                  name="hrs_dic"
                  id="hrs-dic"
                  value="{{zone.meses.dic.hrs}}"
                  required
                />
              </td>
              <td class="align-middle text-center result"></td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
    <div class="jumbotron mb-5">
      <h4>Usuarios</h4>
      <form id="update-encargados">
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="encargados">Encargados de area</label>
              <select
                class="form-control select2"
                id="encargados"
                name="encargados"
                style="width: 100%"
                multiple
                required
              >
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
      <form id="update-vendedores">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="vendedores">Vendedores</label>
              <select
                class="form-control select2"
                id="vendedores"
                name="vendedores"
                style="width: 100%"
                multiple
                required
              >
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
