<template name="adminZone">
  <div class="row">
    <div class="col">
      <h1>Información del la <span>Zona</span></h1>
      {{#if Template.subscriptionsReady}}
        <div class="jumbotron">
          <button class="edit-btn" data-id="{{zone._id}}"><i class="fas fa-pencil-alt" data-id="{{zone._id}}"></i></button>
          <div class="row">
            <div class="col">
              <b>Nombre:</b> {{zone.name}}<br/>
            </div>
          </div>
        </div>
        <div class="jumbotron">
          <div class="row">
            <div class="col">
              <h4>Meses</h4>
              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col" class="text-center">Mes</th>
                  <th scope="col" class="text-center">Dias</th>
                  <th scope="col" class="text-center">Hrs/Dia</th>
                  <th scope="col" class="text-center">Hrs/Mes</th>
                </tr>
                </thead>
                <tbody>
                <tr id="ene">
                  <td class="align-middle text-center">Enero</td>
                  <td class="align-middle text-center">{{zone.meses.ene.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.ene.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.ene.hrs zone.meses.ene.dias}}
                  </td>
                </tr>
                <tr id="feb">
                  <td class="align-middle text-center">Febrero</td>
                  <td class="align-middle text-center">{{zone.meses.feb.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.feb.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.feb.hrs zone.meses.feb.dias}}
                  </td>
                </tr>
                <tr id="mar">
                  <td class="align-middle text-center">Marzo</td>
                  <td class="align-middle text-center">{{zone.meses.mar.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.mar.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.mar.hrs zone.meses.mar.dias}}
                  </td>
                </tr>
                <tr id="abr">
                  <td class="align-middle text-center">Abril</td>
                  <td class="align-middle text-center">{{zone.meses.abr.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.abr.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.abr.hrs zone.meses.abr.dias}}
                  </td>
                </tr>
                <tr id="may">
                  <td class="align-middle text-center">Mayo</td>
                  <td class="align-middle text-center">{{zone.meses.may.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.may.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.may.hrs zone.meses.may.dias}}
                  </td>
                </tr>
                <tr id="jun">
                  <td class="align-middle text-center">Junio</td>
                  <td class="align-middle text-center">{{zone.meses.jun.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.jun.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.jun.hrs zone.meses.jun.dias}}
                  </td>
                </tr>

                <tr id="jul">
                  <td class="align-middle text-center">Julio</td>
                  <td class="align-middle text-center">{{zone.meses.jul.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.jul.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.jul.hrs zone.meses.jul.dias}}
                  </td>
                </tr>
                <tr id="ago">
                  <td class="align-middle text-center">Agosto</td>
                  <td class="align-middle text-center">{{zone.meses.ago.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.ago.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.ago.hrs zone.meses.ago.dias}}
                  </td>
                </tr>
                <tr id="sep">
                  <td class="align-middle text-center">Septiembre</td>
                  <td class="align-middle text-center">{{zone.meses.sep.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.sep.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.sep.hrs zone.meses.sep.dias}}
                  </td>
                </tr>
                <tr id="oct">
                  <td class="align-middle text-center">Octubre</td>
                  <td class="align-middle text-center">{{zone.meses.oct.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.oct.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.oct.hrs zone.meses.oct.dias}}
                  </td>
                </tr>
                <tr id="nov">
                  <td class="align-middle text-center">Noviembre</td>
                  <td class="align-middle text-center">{{zone.meses.nov.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.nov.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.nov.hrs zone.meses.nov.dias}}
                  </td>
                </tr>
                <tr id="dic">
                  <td class="align-middle text-center">Diciembre</td>
                  <td class="align-middle text-center">{{zone.meses.dic.dias}}</td>
                  <td class="align-middle text-center">{{zone.meses.dic.hrs}}</td>
                  <td class="align-middle text-center result">
                    {{getResult zone.meses.dic.hrs zone.meses.dic.dias}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="jumbotron">
          <h4>Usuarios</h4>
          <h5>Encargados:</h5>
          <p>{{{getUsers zone.encargados}}}</p>
          <h5>Vendedores:</h5>
          <p>{{{getUsers zone.vendedores}}}</p>
        </div>
      {{/if}}
    </div>
  </div>
</template>
