<template name="adminZones">
  <button class="btn-show-list hide-btn-show-list"><i class="fas fa-list-ul"></i></button>
  <div class="list">
    <button class="btn-hide-list"><i class="fas fa-times"></i></button>
    <ul>
      {{#each zone in zones}}
        <li class="{{activeItem zone._id}}">
          <a href="/admin/zones/list/{{zone._id}}"><b>Zona:</b> {{zone.name}}<br></a>
        </li>
      {{/each}}
      <li class="list-loader text-center"></li>
    </ul>
  </div>
  <div class="item">
    {{> adminZone }}
  </div>
</template>
