<template name="adminAddCliente">
  <div class="item">
    <h1>Agregar <span>Cliente</span></h1>
    <div class="jumbotron">
      <form id="add-cliente">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" maxlength="50" required>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="last-name">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" maxlength="50" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="form-group">
              <label for="tel">Teléfono</label>
              <input type="tel" class="form-control" id="tel" name="tel" placeholder="Ejemplo: 3310998877" minlength="10" maxlength="10">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="form-group">
              <label for="mobile">Celular</label>
              <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Ejemplo: 3310998877" minlength="10" maxlength="10">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Correo electronico" maxlength="50" required>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="form-group">
              <label for="confirm-email">Confirmar Email</label>
              <input type="text" class="form-control" id="confirm-email" name="confirm-email" placeholder="Repite el correo electronico" maxlength="50" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="address">Direccion</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Buscar direccion">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="street_number">Numero</label>
              <input type="text" class="form-control" id="street_number" name="street_number" disabled>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="route">Calle</label>
              <input type="text" class="form-control" id="route" name="street" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="locality">Ciudad</label>
              <input type="text" class="form-control" id="locality" name="city" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="form-group">
              <label for="administrative_area_level_1">Estado</label>
              <input type="text" class="form-control" id="administrative_area_level_1" name="state" disabled>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="form-group">
              <label for="postal_code">Codigo Postal</label>
              <input type="text" class="form-control" id="postal_code" name="zip_code" disabled>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="country">Pais</label>
              <input type="text" class="form-control" id="country" name="country" disabled>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cliente</button>
      </form>
    </div>
  </div>
</template>
