<template name="adminClientes">
  <button class="btn-show-list hide-btn-show-list"><i class="fas fa-list-ul"></i></button>
  <div class="list">
    <button class="btn-hide-list"><i class="fas fa-times"></i></button>
    <ul>
      {{#each user in users}}
        <li class="{{activeUser user._id}}">
          <a href="/admin/clientes/list/{{user._id}}"><b>Nombre:</b> {{user.profile.nombre}} {{user.profile.apellidos}}</a>
        </li>
      {{/each}}
      <li class="list-loader text-center"></li>
    </ul>
  </div>
  <div class="item">
    {{> adminCliente }}
  </div>
</template>
