<template name="adminEditCliente">
  <div class="item">
    <h1>Actualizar <span>Cliente</span></h1>
    <div class="jumbotron">
      <form id="update-user-info">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" value="{{user.profile.nombre}}" maxlength="50" required>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="last-name">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" value="{{user.profile.apellidos}}" maxlength="50" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="tel">Teléfono</label>
              <input type="tel" class="form-control" id="tel" name="tel" placeholder="Ejemplo: 3310998877" value="{{user.profile.telefono}}" minlength="10" maxlength="10">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="mobile">Celular</label>
              <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Ejemplo: 3310998877" value="{{user.profile.mobile}}" minlength="10" maxlength="10">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="address">Direccion</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Address"
                     value="{{user.profile.direccion.completa}}">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="street_number">Street Number</label>
              <input type="text" class="form-control" id="street_number" name="street_number"
                     value="{{user.profile.direccion.numero}}" disabled>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="route">Street</label>
              <input type="text" class="form-control" id="route" name="street" value="{{user.profile.direccion.calle}}"
                     disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="locality">City</label>
              <input type="text" class="form-control" id="locality" name="city" value="{{user.profile.direccion.ciudad}}"
                     disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="form-group">
              <label for="administrative_area_level_1">State</label>
              <input type="text" class="form-control" id="administrative_area_level_1" name="state"
                     value="{{user.profile.direccion.estado}}" disabled>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="form-group">
              <label for="postal_code">ZIP</label>
              <input type="text" class="form-control" id="postal_code" name="zip_code"
                     value="{{user.profile.direccion.codigo_postal}}" disabled>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" id="country" name="country"
                     value="{{user.profile.direccion.pais}}" disabled>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar información</button>
      </form>
    </div>
  </div>
</template>
