<template name="addContrato">
	<div class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">Generar contrato</h4>
				</div>

				<form id="add-contrato">
					<div class="modal-body">
            <div class="form-group">
              <label for="venta">Venta por</label>
              <select class="form-control select2" id="venta" name="venta" required>
                <option></option>
                <option value="ALLES AMBIENTAL SA DE CV">ALLES AMBIENTAL SA DE CV</option>
                <option value="SOLAR INTERCOM SA DE CV">SOLAR INTERCOM SA DE CV</option>
              </select>
            </div>
            <div class="form-group">
              <label for="entrega">Fecha de entrega</label>
              <input class="form-control entrega" id="entrega" name="entrega" required>
            </div>
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Generar</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</template>
