<template name="editContrato">
  <div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Editar contrato</h4>
        </div>

        <form id="update-contrato">
          <div class="modal-body">
            <textarea id="contrato" style="height: 400px">{{contrato}}</textarea>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Actualizar contrato</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</template>
