<template name="addZone">
  <div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar nueva zona</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="add-zone">
          <div>
            <div class="col">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  placeholder="Nombre de la zona"
                  required
                />
              </div>
            </div>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Mes</th>
                  <th scope="col" class="text-center">Dias</th>
                  <th scope="col" class="text-center">Hrs/Dia</th>
                  <th scope="col" class="text-center">Hrs/Mes</th>
                </tr>
              </thead>
              <tbody>
                <tr id="add-ene">
                  <td class="align-middle text-center">Enero</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      id="dias-ene"
                      name="dias_ene"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      id="hrs-ene"
                      name="hrs_ene"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-feb">
                  <td class="align-middle text-center">Febrero</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_feb"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_feb"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-mar">
                  <td class="align-middle text-center">Marzo</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_mar"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_mar"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-abr">
                  <td class="align-middle text-center">Abril</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_abr"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_abr"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-may">
                  <td class="align-middle text-center">Mayo</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_may"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_may"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-jun">
                  <td class="align-middle text-center">Junio</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_jun"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_jun"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>

                <tr id="add-jul">
                  <td class="align-middle text-center">Julio</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_jul"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_jul"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-ago">
                  <td class="align-middle text-center">Agosto</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_ago"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_ago"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-sep">
                  <td class="align-middle text-center">Septiembre</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_sep"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_sep"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-oct">
                  <td class="align-middle text-center">Octubre</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_oct"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_oct"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-nov">
                  <td class="align-middle text-center">Noviembre</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_nov"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_nov"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="add-dic">
                  <td class="align-middle text-center">Diciembre</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_dic"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_dic"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Guardar Zona</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
