<template name="editZone">
  <div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar zona: {{zona.name}}</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="edit-zone">
          <div>
            <div class="col">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  placeholder="Nombre de la zona"
                  value="{{zona.name}}"
                  required
                />
              </div>
            </div>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Mes</th>
                  <th scope="col" class="text-center">Dias</th>
                  <th scope="col" class="text-center">Hrs/Dia</th>
                  <th scope="col" class="text-center">Hrs/Mes</th>
                </tr>
              </thead>
              <tbody>
                <tr id="edit-ene">
                  <td class="align-middle text-center">Enero</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      id="dias-ene"
                      name="dias_ene"
                      value="{{zona.meses.ene.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      id="hrs-ene"
                      name="hrs_ene"
                      value="{{zona.meses.ene.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-feb">
                  <td class="align-middle text-center">Febrero</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_feb"
                      id="dias-feb"
                      value="{{zona.meses.feb.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_feb"
                      id="hrs-feb"
                      value="{{zona.meses.feb.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-mar">
                  <td class="align-middle text-center">Marzo</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_mar"
                      id="dias-mar"
                      value="{{zona.meses.mar.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_mar"
                      id="hrs-mar"
                      value="{{zona.meses.mar.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-abr">
                  <td class="align-middle text-center">Abril</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_abr"
                      id="dias-abr"
                      value="{{zona.meses.abr.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_abr"
                      id="hrs-abr"
                      value="{{zona.meses.abr.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-may">
                  <td class="align-middle text-center">Mayo</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_may"
                      id="dias-may"
                      value="{{zona.meses.may.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_may"
                      id="hrs-may"
                      value="{{zona.meses.may.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-jun">
                  <td class="align-middle text-center">Junio</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_jun"
                      id="dias-jun"
                      value="{{zona.meses.jun.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_jun"
                      id="hrs-jun"
                      value="{{zona.meses.jun.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>

                <tr id="edit-jul">
                  <td class="align-middle text-center">Julio</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_jul"
                      id="dias-jul"
                      value="{{zona.meses.jul.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_jul"
                      id="hrs-jul"
                      value="{{zona.meses.jul.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-ago">
                  <td class="align-middle text-center">Agosto</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_ago"
                      id="dias-ago"
                      value="{{zona.meses.ago.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_ago"
                      id="hrs-ago"
                      value="{{zona.meses.ago.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-sep">
                  <td class="align-middle text-center">Septiembre</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_sep"
                      id="dias-sep"
                      value="{{zona.meses.sep.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_sep"
                      id="hrs-sep"
                      value="{{zona.meses.sep.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-oct">
                  <td class="align-middle text-center">Octubre</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_oct"
                      id="dias-oct"
                      value="{{zona.meses.oct.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_oct"
                      id="hrs-oct"
                      value="{{zona.meses.oct.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-nov">
                  <td class="align-middle text-center">Noviembre</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_nov"
                      id="dias-nov"
                      value="{{zona.meses.nov.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_nov"
                      id="hrs-nov"
                      value="{{zona.meses.nov.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
                <tr id="edit-dic">
                  <td class="align-middle text-center">Diciembre</td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="dias_dic"
                      id="dias-dic"
                      value="{{zona.meses.dic.dias}}"
                      required
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      class="form-control number"
                      name="hrs_dic"
                      id="hrs-dic"
                      value="{{zona.meses.dic.hrs}}"
                      required
                    />
                  </td>
                  <td class="align-middle text-center result"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Guardar Zona</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
