<template name="adminSettings">
  <div class="item">
    <div class="jumbotron">
      <form id="update-settings">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="dac">DAC</label>
              <input
                type="number"
                class="form-control"
                id="dac"
                name="dac"
                value="{{tarifas.dac}}"
                step="0.1"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="pbdt">PDBT</label>
              <input
                type="number"
                class="form-control"
                id="pbdt"
                name="pbdt"
                value="{{tarifas.pbdt}}"
                step="0.1"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="gdmto">GDMTO</label>
              <input
                type="number"
                class="form-control"
                id="gdmto"
                name="gdmto"
                value="{{tarifas.gdmto}}"
                step="0.1"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="gdmth">GDMTH</label>
              <input
                type="number"
                class="form-control"
                id="gdmth"
                name="gdmth"
                value="{{tarifas.gdmth}}"
                step="0.1"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="watt">Costo Watt</label>
              <input
                type="number"
                class="form-control"
                id="watt"
                name="watt"
                value="{{tarifas.watt}}"
                step="0.1"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="cambio">Tipo de cambio</label>
              <input
                type="number"
                class="form-control"
                id="cambio"
                name="cambio"
                value="{{tarifas.cambio}}"
                step="0.1"
                required
              />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
    <div class="jumbotron">
      <button type="button" class="btn btn-primary btn-sm add-zone float-right">
        Agregar nueva zona
      </button>
      <h4>Zonas</h4>
    </div>
    {{#each zona in zonas}}
    <div class="jumbotron">
      <h6>{{zona.name}}</h6>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-center">Mes</th>
            <th scope="col" class="text-center">Dias</th>
            <th scope="col" class="text-center">Hrs/Dia</th>
            <th scope="col" class="text-center">Hrs/Mes</th>
          </tr>
        </thead>
        <tbody>
          <tr id="ene">
            <td class="align-middle text-center">Enero</td>
            <td class="align-middle text-center">{{zona.meses.ene.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.ene.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.ene.hrs zona.meses.ene.dias}}
            </td>
          </tr>
          <tr id="feb">
            <td class="align-middle text-center">Febrero</td>
            <td class="align-middle text-center">{{zona.meses.feb.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.feb.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.feb.hrs zona.meses.feb.dias}}
            </td>
          </tr>
          <tr id="mar">
            <td class="align-middle text-center">Marzo</td>
            <td class="align-middle text-center">{{zona.meses.mar.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.mar.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.mar.hrs zona.meses.mar.dias}}
            </td>
          </tr>
          <tr id="abr">
            <td class="align-middle text-center">Abril</td>
            <td class="align-middle text-center">{{zona.meses.abr.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.abr.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.abr.hrs zona.meses.abr.dias}}
            </td>
          </tr>
          <tr id="may">
            <td class="align-middle text-center">Mayo</td>
            <td class="align-middle text-center">{{zona.meses.may.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.may.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.may.hrs zona.meses.may.dias}}
            </td>
          </tr>
          <tr id="jun">
            <td class="align-middle text-center">Junio</td>
            <td class="align-middle text-center">{{zona.meses.jun.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.jun.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.jun.hrs zona.meses.jun.dias}}
            </td>
          </tr>

          <tr id="jul">
            <td class="align-middle text-center">Julio</td>
            <td class="align-middle text-center">{{zona.meses.jul.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.jul.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.jul.hrs zona.meses.jul.dias}}
            </td>
          </tr>
          <tr id="ago">
            <td class="align-middle text-center">Agosto</td>
            <td class="align-middle text-center">{{zona.meses.ago.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.ago.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.ago.hrs zona.meses.ago.dias}}
            </td>
          </tr>
          <tr id="sep">
            <td class="align-middle text-center">Septiembre</td>
            <td class="align-middle text-center">{{zona.meses.sep.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.sep.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.sep.hrs zona.meses.sep.dias}}
            </td>
          </tr>
          <tr id="oct">
            <td class="align-middle text-center">Octubre</td>
            <td class="align-middle text-center">{{zona.meses.oct.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.oct.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.oct.hrs zona.meses.oct.dias}}
            </td>
          </tr>
          <tr id="nov">
            <td class="align-middle text-center">Noviembre</td>
            <td class="align-middle text-center">{{zona.meses.nov.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.nov.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.nov.hrs zona.meses.nov.dias}}
            </td>
          </tr>
          <tr id="dic">
            <td class="align-middle text-center">Diciembre</td>
            <td class="align-middle text-center">{{zona.meses.dic.dias}}</td>
            <td class="align-middle text-center">{{zona.meses.dic.hrs}}</td>
            <td class="align-middle text-center result">
              {{getResult zona.meses.dic.hrs zona.meses.dic.dias}}
            </td>
          </tr>
        </tbody>
      </table>
      <button
        type="button"
        class="btn btn-primary btn-sm edit-zona"
        value="{{zona._id}}"
      >
        Editar zona
      </button>
    </div>
    {{/each}}
  </div>
</template>
