.admin-sidebar{
  position: relative;
  width: 250px;
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: -5px 0px 23px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: -5px 0px 23px 0px rgba(0,0,0,0.51);
  box-shadow: -5px 0px 23px 0px rgba(0,0,0,0.51);
  // Custom Scrollbar
  @include scroll(rgba(255,255,255,0.2), white, #555);
  @include transition(0.4s);
  h3{
    color: white;
    padding: 10px;
  }
  .logo{
    padding: 15px 20px 15px 10px;
  }
  .menu{
    list-style: none;
    margin: 0;
    padding: 0;
    a{
      display: inline-block;
      width: 100%;
      padding: 10px;
      color: $color-3-a;
      text-decoration: none;
      @include transition(0.4s);
      &:hover{
        background-color: $color-2-a;
        color: white;
        @include transition(0.2s);
      }
      &:active{
        background-color: $color-1-a;
        color: white;
      }
    }
    // Sub menus
    .submenu{
      list-style: none;
      margin: 0;
      padding: 0;
      a{
        display: inline-block;
        width: 100%;
        padding: 10px;
        font-size: 12px;
        background-color: $color-2-a;
        color: white;
        text-decoration: none;
        @include transition(0.4s);
        &:hover{
          background-color: rgba(255, 255, 255, 0.6);
          color: $color-1-a;
          @include transition(0.2s);
        }
      }
    }
    .active{
      background-color: $color-1-a;
      color: white;
    }
  }
  .btn-hide-sidebar{
    position: absolute;
    right: -1px;
    padding-right: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    border-bottom-left-radius: 3px;
    font-size: 8px;
    background-color: white;
    color: $color-1-a;
  }
}
.hide-sidebar{
  margin-left: -250px;
  @include transition(0.4s);
}
.btn-show-sidebar{
  position: fixed;
  width: 50px;
  height: 30px;
  top: 10px;
  z-index: 100;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $color-1-a;
  color: white;
  cursor: pointer;
  @include transition(0.4s);
  i{
    display: block;
    margin-left: -20px;
  }
}
.hide{
  margin-left: -30px;
  @include transition(0.4s);
}
