<template name="adminSidebar">
  <button class="btn-show-sidebar hide"><i class="fas fa-bars"></i></button>
  <nav class="admin-sidebar">
    <button class="btn-hide-sidebar"><i class="fas fa-times"></i></button>
    <img src="/img/logo.png" class="img-fluid" />
    <ul class="menu">

      <li>
        <a href="/admin/projects/list/all" class="{{isActiveRoute regex='^admin.projects'}}"><i class="fas fa-briefcase"></i> Proyectos</a>
        {{#transition in="flipInX:400" out="flipOutX:200"}}
          {{#if isActiveRoute regex='^admin.projects'}}
            <ul class="submenu">
              <li ><a href="/admin/projects/add"><i class="fas fa-plus"></i> Agregar proyecto</a></li>
            </ul>
          {{/if}}
        {{/transition}}
      </li>

<!--      <li>-->
<!--        <a href="/admin/reports/list/all" class="{{isActiveRoute regex='^admin.zones'}}"><i class="far fa-file-alt"></i> Reportes</a>-->
<!--      </li>-->

      <li>
        <a href="/admin/clientes/list/all" class="{{isActiveRoute regex='^admin.clientes'}}"><i class="fas fa-user-tag"></i> Clientes</a>
        {{#transition in="flipInX:400" out="flipOutX:200"}}
          {{#if isActiveRoute regex='^admin.clientes'}}
            <ul class="submenu">
              <li ><a href="/admin/clientes/add"><i class="fas fa-plus"></i> Agregar cliente</a></li>
            </ul>
          {{/if}}
        {{/transition}}
      </li>

      <li>
        <a href="/admin/zones/list/all" class="{{isActiveRoute regex='^admin.zones'}}"><i class="fas fa-map-marker-alt"></i> Zonas</a>
        {{#transition in="flipInX:400" out="flipOutX:200"}}
          {{#if isActiveRoute regex='^admin.zones'}}
            <ul class="submenu">
              <li ><a href="/admin/zones/add"><i class="fas fa-plus"></i> Agregar zona</a></li>
            </ul>
          {{/if}}
        {{/transition}}
      </li>

      <li>
        <a href="/admin/users/list/all" class="{{isActiveRoute regex='^admin.users'}}"><i class="fas fa-users"></i> Usuarios</a>
        {{#transition in="flipInX:400" out="flipOutX:200"}}
          {{#if isActiveRoute regex='^admin.users'}}
            <ul class="submenu">
              <li ><a href="/admin/users/add"><i class="fas fa-plus"></i> Agregar Usuario</a></li>
            </ul>
          {{/if}}
        {{/transition}}
      </li>

      <li>
        <a href="/admin/settings" class="{{isActiveRoute regex='^admin.settings'}}"> <i class="fas fa-cog"></i> Ajustes</a>
      </li>

    </ul>
  </nav>
</template>
