<template name="adminAddProduct">
  <div class="item">
    <h1>Agregar <span>Producto</span></h1>
    <form id="add-product">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <select class="form-control select2" id="tipo" name="tipo" required>
              <option></option>
              <option value="Panel">Panel</option>
              <option value="Inversor">Inversor</option>
            </select>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="row">
          <div class="col-2">
            <label for="volts">Voltaje</label>
            <select class="form-control select2" id="volts" name="volts" style="width: 100%">
              <option></option>
              <option value="127">127v</option>
              <option value="220">220v</option>
            </select>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="watts">Watts</label>
              <input type="text" class="form-control" maxlength="3" id="watts" name="watts" placeholder="Ejemplo: 330">
            </div>
          </div>
          <div class="col-8">
            <div class="form-group">
              <label for="p-name">Nombre</label>
              <input type="text" class="form-control" id="p-name" name="p_name"
                     placeholder="Modelo/marca del panel ">
            </div>
          </div>
        </div>
      </div>

      <div class="inversor">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="i-name">Nombre</label>
              <input type="text" class="form-control" id="i-name" name="i_name"
                     placeholder="Modelo/marca y especificaciones ejem: fronius 7.6 kw">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </div>
      </div>
    </form>
  </div>
</template>
