<template name="adminCatalog">
  <button class="btn-show-list hide-btn-show-list"><i class="fas fa-list-ul"></i></button>
  <div class="list">
    <button class="btn-hide-list"><i class="fas fa-times"></i></button>
    <ul>
      {{#each product in products}}
        <li class="{{activeRecord product._id}}">
          <a href="/admin/catalog/list/{{product._id}}"><b>Nombre:</b> {{product.nombre}}</a>
        </li>
      {{/each}}
      <li class="list-loader text-center"></li>
    </ul>
  </div>
  <div class="item">
    {{> adminProduct }}
  </div>
</template>
