<template name="adminEditProduct">
  <div class="item">
    <h1>Editar <span>Producto</span></h1>
    <form id="update-product">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="nombre">{{product.tipo}}:</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   value="{{product.nombre}}" placeholder="Nombre del producto" required>
          </div>
        </div>
      </div>
      {{#if $eq product.tipo 'Panel'}}
        <div class="row">
          <div class="col">
            <label for="volts">Voltaje</label>
            <select class="form-control select2" id="volts" name="volts" style="width: 100%" required>
              <option></option>
              <option value="127" {{isSelected product.volts 127}}>127v</option>
              <option value="220" {{isSelected product.volts 220}}>220v</option>
            </select>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="watts">Watts</label>
              <input type="text" class="form-control" maxlength="3" id="watts" name="watts" placeholder="Ejemplo: 330"
                     value="{{product.watts}}" required>
            </div>
          </div>
        </div>
      {{/if}}
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-danger" id="delete-btn" value="{{product._id}}">Borrar producto</button>
          <button type="submit" class="btn btn-primary">Actualizar Producto</button>
        </div>
      </div>
    </form>
  </div>
</template>
