<template name="adminProduct">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <button type="button" class="edit-btn" value="{{product._id}}"><i class="fas fa-pencil-alt"></i></button>
        <div class="row">
          <div class="col">
            <b>Tipo:</b> {{product.tipo}}<br/>
            <b>Nombre:</b> {{product.nombre}}<br/>
            {{#if $eq product.tipo 'Panel'}}
              <b>Volts:</b> {{product.volts}}<br/>
              <b>Watts:</b> {{product.watts}}<br/>
            {{/if}}
          </div>
        </div>
      </div>
    </Div>
  </div>
</template>
