<template name="graficaAhorroAnual">
  <div class="row justify-content-center">
    <div class="col-12">
      <canvas id="ahorro-anual" width="400" height="400"></canvas>
      <div class="centro"><i class="fas fa-dollar-sign"></i></div>
    </div>
  </div>
</template>
