:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.login-body{
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00acef+0,23659a+100 */
  background: #00acef; /* Old browsers */
  background: -moz-linear-gradient(top, #00acef 0%, #23659a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00acef 0%,#23659a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00acef 0%,#23659a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00acef', endColorstr='#23659a',GradientType=0 ); /* IE6-9 */

  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-body {
    padding: 2rem;
  }

  .form-signin {
    width: 100%;
  }

  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }

  .legal{
    text-align: center;
    color: lightgray;
  }
  .login-loading{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #77C043;
    z-index: 100;
  }
  .loading{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .dot{
      display: inline-block;
    }
    #loading-info{
      padding: 10px;
      border-radius: 10px;
    }
  }

}