.not-found {
  position: fixed;
  width: 100%;
  height: 100%;
}
.message {
  h1{
    font-weight: 900;
    font-size: 200px;
  }
  p{
    margin-top: -30px;
    font-weight: 300;
    font-size: 20px;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}
