<template name="App_notFound">
  <div class="not-found">
    {{#animate type="fadeIn"}}
      <div class="message text-center">
        <h1>404</h1>
        <p>Page not found</p>
      </div>
    {{/animate}}
  </div>
</template>
