// IMPORTS

@import "./mixins.scss";
@import "./variables.scss";



// ADMIN ---------------------------------------------------------------------->
// Layouts
@import "../layouts/admin/body/body";
@import "../layouts/admin/login/login";
// Components
@import "../components/admin/sidebar/sidebar";
@import "../components/admin/header/header";
// Pages
@import "../pages/not-found/not-found";
// ADMIN END ------------------------------------------------------------------>



// WEB ------------------------------------------------------------------------>
// Layouts
@import "../layouts/public/body/body";
// Pages
@import "../pages/public/home/home";
// END WEB -------------------------------------------------------------------->



// Only global styles
html, body{
  height: 100%;
}

// fix blue glow chrome
a, button { outline: none !important; }

//fix adn custom for select2
.select2-container--bootstrap4 .select2-selection--single{
  line-height: 0.7 !important;
}
.select2-selection__rendered{
  overflow: inherit !important;
}
.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected]{
  background-color: $color-1-a !important;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection, .select2-container--bootstrap4.select2-container--open .select2-selection{
  border-color: $color-1-a !important;
}
.select2-container--bootstrap4 .select2-dropdown{
  border-color: $color-1-a !important;
}

// Placeholders
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(185, 185, 185) !important;
  font-weight: 200;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(185, 185, 185) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(185, 185, 185) !important;
}

.btn-labeled{
  margin-top: 31px;
}

.consumos-table{
  display: none;
}

.centro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 40px;
}

.tabla-amortizacion{
  .title{
    background-color: #23659A;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
  }
  .title-2{
    background-color: #00ACEF;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
  }
  .data-1{
    text-align: center;
    padding: 20px 0;
    span{
      font-size: 25px;
      color: #23659A;
    }
  }
  .data-2{
    text-align: center;
    color: #00ACEF;
    padding: 20px 0;
    span{
      font-size: 25px;
      color: #23659A;
    }
  }
  .data-3{
    text-align: center;
    padding: 20px 0;
    background-color: #23659A;
    color: white;
    span{
      font-size: 25px;
    }
  }
  .data-4, .data-5{
    background-color: #dee1df;
    color: #23659A;
    text-align: center;
    .data-title{
      background-color: #00ACEF;
      color: white;
      padding: 10px;
      font-size: 12px;
    }
    .content{
      padding: 10px;
      font-size: 25px;
    }
  }
  .data-5{
    .data-title{
      background-color: #23659A;
    }
  }
  .data-6{
    text-align: center;
    color: #23659A;
    padding: 20px 0;
    span{
      font-size: 25px;
    }
  }
}
