@mixin custom-transition($time) {
  -webkit-transition: all $time cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */
  -moz-transition: all $time cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */
  -o-transition: all $time cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */
  transition: all $time cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */
}

@mixin scroll($track, $thumb, $thumb_hover) {
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
    border: none;
  }
  &::-webkit-scrollbar-track {
    background:  $track;
  }
  &::-webkit-scrollbar-thumb {
    background: $thumb;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb_hover;
  }
}
