<template name="amortization">
  <div class="tabla-amortizacion">
    {{#if data}}
      <div class="title">TABLA DE CÁLCULO DE AMORTIZACIÓN PARA CRÉDITO</div>
      <div class="row">
        <div class="col">
          <div class="data-1">
            MONTO DESPUÉS FONDO<br/>
            <span>{{importeDespuesDeFondo}}</span>
          </div>
        </div>
        <div class="col">
          <div class="data-1">
            DÍA DISPOSICIÓN<br/>
            <span>{{formatDate data.fecha}}</span>
          </div>
        </div>
        <div class="col">
          <div class="data-1">
            FECHA VENCIMIENTO<br/>
            <span>{{fechaVencimiento}}</span>
          </div>
        </div>
        <div class="col">
          <div class="data-1">
            DIAS DEVENGADOS<br/>
            <span>{{data.dias}}</span>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col">
          <div class="data-2">
            TASA DE INTERES ESTIMADA<br/>
            <span>{{data.tasa}}%</span>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col">
          <div class="data-2">
            TASA DE INTERES CON IVA<br/>
            <span>{{tasaConIva}}%</span>
          </div>
        </div>
        <div class="col">
          <div class="data-2">
            TASA DIARIA<br/>
            <span>{{tasaDiaria}}%</span>
          </div>
        </div>
        <div class="col">
          <div class="data-2">
            INTERES MENSUAL<br/>
            <span>{{interesMensual}}%</span>
          </div>
        </div>
        <div class="col">
          <div class="data-3">
            PLAZO (MESES)<br/>
            <span>{{data.plazo}}</span>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row mb-4">
        <div class="col">
          <div class="data-4">
            <div class="data-title">
              IMPORTE DEL PRESTAMO
            </div>
            <div class="content">
              {{formatAmount totalProjecto}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-4">
            <div class="data-title">
              APORTACIÓN DE CONTADO
            </div>
            <div class="content">
              {{formatAmount data.aportacion}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-4">
            <div class="data-title">
              FONDO
            </div>
            <div class="content">
              {{fondo}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-4">
            <div class="data-title">
              MONTO DESPUÉS FONDO
            </div>
            <div class="content">
              {{importeDespuesDeFondo}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="data-5">
            <div class="data-title">
              TOTAL DE REEMBOLSO
            </div>
            <div class="content">
              {{totalReembolso}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-5">
            <div class="data-title">
              TOTAL DE INTERESES
            </div>
            <div class="content">
              {{totalIntereses}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-5">
            <div class="data-title">
              INTERÉS ANUAL
            </div>
            <div class="content">
              {{interesAnual}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-5">
            <div class="data-title">
              INTERÉS REAL ANUAL
            </div>
            <div class="content">
              {{interesRealAnual}}%
            </div>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col">
          <div class="data-6">
            CUOTA<br/>
            <span>{{data.tasa}}%</span>
          </div>
        </div>
      </div>

      <hr/>

      <div class="title-2">TABLA DE AMORTIZACIÓN</div>

      <table class="table table-striped table-sm">
        <thead>
        <tr>
          <th scope="col">Mes</th>
          <th scope="col">Fecha de vencimiento</th>
          <th scope="col">Saldo inicial después del fondo</th>
          <th scope="col">Amortización</th>
          <th scope="col">Intereses</th>
          <th scope="col">Saldo final</th>
          <th scope="col">Pago</th>
        </tr>
        </thead>
        <tbody>
        {{#each row in tableData}}
          <tr>
            <td>{{row.mes}}</td>
            <td>{{row.fecha}}</td>
            <td>{{row.saldo}}</td>
            <td>{{row.amortization}}</td>
            <td>{{row.intereses}}</td>
            <td>{{row.saldo_final}}</td>
            <td>{{row.pago}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</template>
